{% extends 'base.html' %}

{% load static %}

{% block body %}

  <!-- slider section -->
  <section class="slider_section position-relative">
    <div class="slider_bg_box">
      <img src="{% static 'images\slider-bg.jpg' %}" alt="">
    </div>
    <div class="slider_bg"></div>
    <div class="container">
      <div class="col-md-9 col-lg-8">
        <div class="detail-box">
          <h1>
            Best Jewellery
            <br> Collection
          </h1>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem
          </p>
          <div>
            <a href="" class="slider-link">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    
    <div class="container">
      <div class="heading_container heading_center">
      </div>
      <div class="row">
        {% for s in shop %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          
          <div class="box">
            <a href="">
              <div class="img-box">
               <a href="/details/{{s.slug}}"><img src="{{s.img.url}}" alt=""></a> 
              </div>
              <div class="detail-box">
                <h6>
                  {{s.title}}
                </h6>
                <h6>
                  Price
                  <span>
                    $200
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
              <div class="cart-button mt-3 px-5 d-flex justify-content-between align-items-center"> <button class="btn btn-primary text-uppercase">Add to cart</button>

            </a>
          </div>
          </div>
        </div>
        {% endfor %}
       </div>
      <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div>
    </div>
  </section> 

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section mt-4 ">
    <div class="container">
      <div class="row">
        {% for a in about %}
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{a.img.url}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>{{a.title}}
              </h2>
            </div>
            <p>{{a.subtitle}}
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  
  <!-- end about section -->

  <!-- offer section -->

  <section class="offer_section layout_padding">
    <div class="container-fluid">
      <div class="row">
    {% for o in offer %}
        <div class="col-md-7 px-0">
          <div class="box offer-box1">
            <img src="{{o.img.url}}" alt="">
            <div class="detail-box">
              <h2>{{o.title}}
                Upto 15% Off
              </h2>
               <a href=""> 
                Shop Now
              </a>
            </div>
          </div>
         </div>
         <div class="col-md-5 px-0">
          <div class="box offer-box2">
            <img src="{{o.pic.url}}" alt="">
            <div class="detail-box">
              <h2>{{o.title}}
                Upto 10% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
          <div class="box offer-box3">
            <img src="{{o.photo.url}}" alt="">
            <div class="detail-box">
              <h2>{{o.title}}
                Upto 20% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
        </div>
  {% endfor %}
      </div>
    </div>
  </section>
  
  <!-- end offer section -->

  <!-- blog section -->

  <section class="blog_section ">
    <div class="container">
      {% for b in blog %}
      <div class="heading_container">
        <h2>{{b.title}}
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{b.img.url}}" alt="">
              <h4 class="blog_date">
                14 <br>
                July
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                Molestiae ad reiciendis dignissimos
              </h5>
              <p>{{b.subtitle}}</p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{b.photo.url}}" alt="">
              <h4 class="blog_date">
                15 <br>
                July
              </h4>
            </div>
            <div class="detail-box">
              <h5>{{b.title2}}
              </h5>
              <p>{{b.subtitle2}}
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- end blog section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    
    <div class="container">
      <div class="heading_container">
        <h2>{{t.title}}
        </h2>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for t in testimonial %}
          <div class="carousel-item {% if forloop.counter0 == 0 %} active{% endif %}">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{{t.img.url}}" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Kajal kumari
                      </h6>
                    </div>
                    <p>{{t.subtitle}}</p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

                    <i class="fa fa-quote-left" aria-hidden="true"></i> 
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="carouselExample2Controls" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->

      <!-- info section -->
      <section class="info_section layout_padding2">
        <div class="container">
          <div class="row info_form_social_row">
            {% for i in info %}
            <div class="col-md-8 col-lg-9">
              <div class="info_form">
                <form action="">
                  <input type="email" placeholder="Enter your email">
                  <button>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="col-md-4 col-lg-3">
              <div class="social_box">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
           
          </div>
          <div class="row info_main_row">
            <div class="col-md-6 col-lg-3">
              <div class="info_links">
                <h4>{{i.title}}
                </h4>
                <div class="info_links_menu">
                  <a href="/">Home</a>
                  <a href="{% url 'about' %}">About</a>
                  <a href="{% url 'shop' %}">Shop</a>
                  <a href="{% url 'blog' %}">Blog</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="info_insta">
                <h4>{{i.title2}}
                </h4>
                <div class="insta_box">
                  <div class="img-box">
                    <img src="{{i.img.url}}" alt="">
                  </div>
                  <p>{{i.subtitle}}
                    
                  </p>
                </div>
                <div class="insta_box">
                  <div class="img-box">
                    <img src="{{i.img.url}}" alt="">
                  </div>
                  <p>{{i.subtitle2}}
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="info_detail">
                <h4>{{i.title3}}
                </h4>
                <p class="mb-0">{{i.subtitle3}}
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <h4>{{i.title4}}
              </h4>
              <div class="info_contact">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Location
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Call +01 1234567890
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope"></i>
                  <span>
                    demo@gmail.com
                  </span>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    
      <!-- end info_section -->

  {% endblock %}


